<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../mainConfig.css">
    <link rel="stylesheet" href="../header.css">
    <link rel="stylesheet" href="../main.css">
    <link rel="stylesheet" href="../footer.css">
    <title>Gerenciador de Links - Confirmação</title>
</head>
<body>

<header class="header">
    <div class="content-header">
        <a href="/"><h1 class="main-title">Gerenciador de Links</h1></a>
    <nav>
        <a href="/" class="menu-link">Home</a>
        <a href="/managelinks" class="menu-link">Gerenciar Links</a>
    </nav>
    </div>
</header>

<main class="content">

    <h3 class="subtitle"><%=msg%></h3>

    <div class="box-info">
        <h3><strong>Título:</strong> <%=titulo%></h3>
        <h3><strong>URL:</strong> <%=url%></h3>
        
        
    </div>  
    
    <a href="/addlink" class="menu-link body">Adicionar Novo Link</a> 

    
</main>



<footer>Rodape</footer>

</body>
</html>