<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../mainConfig.css">
    <link rel="stylesheet" href="../header.css">
    <link rel="stylesheet" href="../main.css">
    <link rel="stylesheet" href="../footer.css">
    <title>Gerenciador de Links - Adicionar Link</title>
</head>
<body>

<header class="header">
    <div class="content-header">
        <a href="/"><h1 class="main-title">Gerenciador de Links</h1></a>
    <nav>
        <a href="/" class="menu-link">Home</a>
        <a href="/" class="menu-link">Gerenciar Links</a>
    </nav>
    </div>
</header>

<h2 style="text-align: center;"><%=msg%></h2>

<h3 style="text-align: center;">Opa! Algo errado não está certo. Por favor, envie a mensagem acima para <strong>contato@suporte.com</strong></h3>

<footer>Rodape</footer>

</body>
</html>