<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../mainConfig.css">
    <link rel="stylesheet" href="../header.css">
    <link rel="stylesheet" href="../footer.css">
    <title>Gerenciador de Links</title>
</head>
<body>

<header class="header">
    <div class="content-header">
        <a href="/"><h1 class="main-title">Gerenciador de Links</h1></a>
    <nav>
        <a href="/addlink" class="menu-link">Adicionar Novo Link</a>
        <a href="/managelinks" class="menu-link">Gerenciar Links</a>
    </nav>
    </div>
</header>


<div>
    Aqui vão ficar os gráficos
</div>


<footer>Rodape</footer>
</body>
</html>